<h1>Gerenciamento de Contatos</h1>
<div>
 
  <table border='1' width='100%' style='border-collapse: collapse;'>
    <tr>
      <th>Codigo</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Opções</th>
 
    </tr>
 
    <tr *ngFor="let name of names">
      <td>{{ name.codigo }}</td>
      <td>{{ name.nome }}</td>
      <td>{{ name.email }}</td>
      <td>
        <button (click)="deleteNames(name.codigo)">Excluir contato</button>
        <button (click)="selectNames(name)">Atualizar contato</button>
      </td>
    </tr>
  </table>

  <br>
  <form #f = "ngForm">
    <label>Nome </label>
    <input type="text" name="nome" [(ngModel)] = "selectedNames.nome">
    <br>
    <label>Email </label>
    <input type="text" name="email" [(ngModel)] = "selectedNames.email">
    <br>
    <input type="button" (click)="createOrUpdateNames(f)" value="Criar ou Atualizar um contato">
  </form>
 


 

